<%- include('partials/header.ejs') %>
    <div id="favContainer">
        <a class="link btn btn-link" href="/"> Back to Search </a>
    
    <h1>Favorite Pics</h1>
    
    <% 
       //displaying five keywords per line
      rows.forEach(function(row, i){ %>
       
        <a class="keywordLink btn btn-link" href="#"><%= row["keyword"] %></a>
    
        <%- ((i+1) % 6 == 0)?'<br><br>':'' %>
    
     <% });%>
    
     <div id="favorites"></div>
    
     <input type="hidden" id="keywordSelected">
    </div>
<%- include('partials/footer.ejs') %>
