<%- include('partials/header.ejs') %>
        <h1>Cool Images</h1>
        <form action="/search">
            <input type="text" placeholder="Type keyword" name="keyword"/>
            <br><br>
            <button class="btn btn-primary">Search</button>
        </form>
        <hr>

<%- include('partials/footer.ejs') %>
